<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take me down a peg...</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: <%= color %>">

    <h1>Consider yourself taken down a peg...</h1>
    
    <% if(name !== ""){ %>
        <p>Oh <%= name %> ...</p>
    <% } %>
    <p>
        <%= insult %>
    </p>
    <div class="flexible">
        <form action="/insult" method="get">
            <input type="hidden" name="name" value=<%= name %>>
            <button>ONE MOAR PEG</button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="name" value=<%= name %>>
            <button>Please... no more :'(</button>
        </form>
    </div>
</body>
</html>